 {
	MARGIN: 0px auto
}
BODY {
	FONT-SIZE: 12px; BACKGROUND: #011e35; COLOR: #fff; FONT-FAMILY: "ו",Tahoma,SimSun,Arial; TEXT-ALIGN: center
}
P {
	MARGIN: 0px; TEXT-INDENT: 2em
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.center {
	TEXT-ALIGN: center
}
.left {
	TEXT-ALIGN: left
}
.right {
	TEXT-ALIGN: right
}
.top {
	VERTICAL-ALIGN: top
}
.bottom {
	VERTICAL-ALIGN: bottom
}
.float_left {
	FLOAT: left
}
.float_rig {
	FLOAT: right
}
.font_12 {
	FONT-SIZE: 12px
}
.font_14 {
	FONT-SIZE: 14px
}
.green {
	COLOR: #008000
}
.gray {
	COLOR: #424242
}
.blue {
	COLOR: #327ee5
}
.hui {
	COLOR: #666666
}
.yellow {
	COLOR: #c90
}
.black {
	COLOR: #1f1f1f
}
.red {
	COLOR: #f00
}
.font_weight {
	FONT-WEIGHT: bold
}
A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.font_red {
	COLOR: #cf1b1b; TEXT-DECORATION: none
}
A.font_red:link {
	COLOR: #cf1b1b; TEXT-DECORATION: none
}
A.font_red:visited {
	COLOR: #cf1b1b; TEXT-DECORATION: none
}
A.font_red:hover {
	COLOR: #747474; TEXT-DECORATION: none
}
.font_yellow {
	COLOR: #fff7b3
}
A.font_yellow:link {
	COLOR: #fff7b3
}
A.font_yellow:visited {
	COLOR: #fff7b3
}
A.font_yellow:hover {
	COLOR: #fff7b3; TEXT-DECORATION: underline
}
.font_blue {
	COLOR: #65b1e8; TEXT-DECORATION: underline
}
A.font_blue:link {
	COLOR: #65b1e8; TEXT-DECORATION: underline
}
A.font_blue:visited {
	COLOR: #65b1e8; TEXT-DECORATION: underline
}
A.font_blue:hover {
	COLOR: #65b1e8; TEXT-DECORATION: none
}
.font_blue2 {
	COLOR: #b2e2fe; TEXT-DECORATION: none
}
A.font_blue2:link {
	COLOR: #b2e2fe; TEXT-DECORATION: none
}
A.font_blue2:visited {
	COLOR: #b2e2fe; TEXT-DECORATION: none
}
A.font_blue2:hover {
	COLOR: #b2e2fe; TEXT-DECORATION: underline
}
.login_input {
	BORDER-RIGHT: #61a9db 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #61a9db 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #61a9db 1px solid; COLOR: #011e35; PADDING-TOP: 2px; BORDER-BOTTOM: #61a9db 1px solid; HEIGHT: 17px; BACKGROUND-COLOR: #e2f3ff; TEXT-ALIGN: left
}
.login_input2 {
	BORDER-RIGHT: #61a9db 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #61a9db 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #61a9db 1px solid; WIDTH: 148px; COLOR: #011e35; PADDING-TOP: 2px; BORDER-BOTTOM: #61a9db 1px solid; HEIGHT: 17px; BACKGROUND-COLOR: #e2f3ff; TEXT-ALIGN: left
}
.login_input3 {
	BORDER-RIGHT: #61a9db 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #61a9db 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #61a9db 1px solid; WIDTH: 90px; COLOR: #011e35; PADDING-TOP: 2px; BORDER-BOTTOM: #61a9db 1px solid; HEIGHT: 17px; BACKGROUND-COLOR: #e2f3ff; TEXT-ALIGN: left
}
.input_select {
	WIDTH: 150px; COLOR: #0d5893; BACKGROUND-COLOR: #e2f3ff
}
.pd_t5 {
	PADDING-TOP: 5px
}
.pd_t10 {
	PADDING-TOP: 10px
}
.pd_t20 {
	PADDING-TOP: 20px
}
.pd_l5 {
	PADDING-LEFT: 5px
}
.pd_l10 {
	PADDING-LEFT: 10px
}
.pd_l20 {
	PADDING-LEFT: 20px
}
.pd_l50 {
	PADDING-LEFT: 50px
}
.pd_r5 {
	PADDING-RIGHT: 5px
}
.pd_r10 {
	PADDING-RIGHT: 10px
}
.pd_r20 {
	PADDING-RIGHT: 20px
}
.pd_b5 {
	PADDING-BOTTOM: 5px
}
.pd_b10 {
	PADDING-BOTTOM: 10px
}
.pd_b20 {
	PADDING-BOTTOM: 20px
}
.pd_b25 {
	PADDING-BOTTOM: 25px
}
.ma_t5 {
	MARGIN-TOP: 5px
}
.ma_t10 {
	MARGIN-TOP: 10px
}
.ma_t15 {
	MARGIN-TOP: 15px
}
.ma_t20 {
	MARGIN-TOP: 20px
}
.ma_b5 {
	MARGIN-BOTTOM: 5px
}
.ma_b10 {
	MARGIN-BOTTOM: 10px
}
.ma_r10 {
	MARGIN-RIGHT: 10px
}
.ma_l10 {
	MARGIN-LEFT: 10px
}
.ma_t2 {
	MARGIN-TOP: 2px
}
.service_body_bg1 {
	BACKGROUND-IMAGE: url(pic/service/service_body_bg1.jpg); WIDTH: 1004px; HEIGHT: 45px
}
.service_body_bg2 {
	BACKGROUND-IMAGE: url(pic/service/service_body_bg2.jpg); WIDTH: 1004px; HEIGHT: 45px
}
.service_body_bg3 {
	BACKGROUND-IMAGE: url(pic/service/service_body_bg3.jpg); WIDTH: 1004px; HEIGHT: 72px
}
.service_bot_font {
	PADDING-RIGHT: 0px; PADDING-LEFT: 200px; BACKGROUND-IMAGE: url(pic/service/service_bot_font.jpg); PADDING-BOTTOM: 0px; WIDTH: 804px; COLOR: #5c9acc; LINE-HEIGHT: 16px; PADDING-TOP: 4px; HEIGHT: 35px; TEXT-ALIGN: left
}
.service_bot_bg1 {
	BACKGROUND-IMAGE: url(pic/service/service_bot_bg1.jpg); WIDTH: 1004px; HEIGHT: 71px
}
.service_bot_bg2 {
	BACKGROUND-IMAGE: url(pic/service/service_bot_bg2.jpg); WIDTH: 1004px; HEIGHT: 77px
}
.centent_left_bg {
	BACKGROUND-IMAGE: url(pic/service/centent_left_bg.jpg); WIDTH: 184px; HEIGHT: 294px
}
.centent_right_bg {
	BACKGROUND-IMAGE: url(pic/service/centent_rig_bg.jpg); WIDTH: 182px; HEIGHT: 294px
}
.centent_banner_bg {
	BACKGROUND-IMAGE: url(pic/service/centent_banner.jpg); WIDTH: 349px; HEIGHT: 294px
}
.centent_login_bg {
	BACKGROUND-IMAGE: url(pic/service/centent_bg.jpg); WIDTH: 289px; HEIGHT: 294px; TEXT-ALIGN: left
}
.centent_logo_left {
	BACKGROUND-IMAGE: url(pic/service/logo_left_img.jpg); WIDTH: 184px; HEIGHT: 57px
}
.centent_logo_rig {
	BACKGROUND-IMAGE: url(pic/service/logo_rig_img.jpg); WIDTH: 182px; HEIGHT: 57px
}
.nav_top_img {
	BACKGROUND-IMAGE: url(pic/service/nav_top_img.jpg); WIDTH: 302px; HEIGHT: 27px
}
.login_rig_font {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FLOAT: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-TOP: 0px
}
.login_tab_warp {
	LINE-HEIGHT: 30px
}
.service_bot_bg_bot {
	BACKGROUND-IMAGE: url(pic/service/bottom_img.jpg); WIDTH: 1004px; HEIGHT: 92px
}
.font_bottom_left {
	BACKGROUND-IMAGE: url(pic/service/bottom_left.jpg); WIDTH: 183px; HEIGHT: 91px
}
.font_bottom_rig {
	BACKGROUND-IMAGE: url(pic/service/bottom_rig.jpg); WIDTH: 182px; HEIGHT: 91px
}
.font_bottom_centent {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(pic/service/bottom_int_img.jpg); PADDING-BOTTOM: 0px; WIDTH: 609px; COLOR: #60a3da; LINE-HEIGHT: 17px; PADDING-TOP: 0px; HEIGHT: 91px; TEXT-ALIGN: left
}
.white_input_warp {
	MARGIN-TOP: 140px; MARGIN-LEFT: 480px; WIDTH: 228px; HEIGHT: 153px
}
.white_input_warp1 {
	MARGIN-TOP: 140px; BACKGROUND-IMAGE: url(pic/service/open_bg.jpg); MARGIN-LEFT: 480px; WIDTH: 297px; HEIGHT: 240px
}
.white_content {
	DISPLAY: none; Z-INDEX: 1002; LEFT: 0px; OVERFLOW: auto; POSITION: absolute; TOP: 0px; HEIGHT: 700px
}
.black_overlay {
	DISPLAY: none; Z-INDEX: 1001; FILTER: alpha(opacity=0); LEFT: 0%; WIDTH: 100%; POSITION: absolute; TOP: 0%; HEIGHT: 700px; BACKGROUND-COLOR: black; moz-opacity: 0.7; opacity: .70
}
.open_taable {
	BACKGROUND-IMAGE: url(pic/service/open_bg.jpg); WIDTH: 297px; HEIGHT: 240px
}
.open_font_tab {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; TEXT-ALIGN: left
}
#close {
	MARGIN-TOP: 0px; MARGIN-LEFT: 100px
}
#box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 505px; PADDING-BOTTOM: 10px; PADDING-TOP: 45px
}
#hiddenDiv {
	MARGIN: 0px -100px
}
.service_bot_img {
	BACKGROUND-IMAGE: url(pic/service/bot_img.jpg); WIDTH: 1004px; HEIGHT: 91px
}
#wtLogin {
	PADDING-LEFT: 320px; BACKGROUND: url(../pic/wtlogin/login_bg.jpg) no-repeat center -40px; WIDTH: 684px; PADDING-TOP: 240px; HEIGHT: 360px
}
#wtLogin .inputCont TD {
	VERTICAL-ALIGN: middle; HEIGHT: 35px; TEXT-ALIGN: left
}
#wtLogin .inputCont TD IMG {
	VERTICAL-ALIGN: middle
}
#wtLogin .inputCont .inp1 {
	BORDER-RIGHT: #61a9db 1px solid; BORDER-TOP: #61a9db 1px solid; BACKGROUND: #e2f3ff; BORDER-LEFT: #61a9db 1px solid; WIDTH: 140px; LINE-HEIGHT: 18px; BORDER-BOTTOM: #61a9db 1px solid; HEIGHT: 18px
}
#wtLogin .inputCont .inp2 {
	BORDER-RIGHT: #61a9db 1px solid; BORDER-TOP: #61a9db 1px solid; BACKGROUND: #e2f3ff; BORDER-LEFT: #61a9db 1px solid; WIDTH: 110px; LINE-HEIGHT: 18px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #61a9db 1px solid; HEIGHT: 18px
}
#wtLogin .inputCont .inp3 {
	BORDER-RIGHT: #61a9db 1px solid; BORDER-TOP: #61a9db 1px solid; BACKGROUND: #e2f3ff; VERTICAL-ALIGN: middle; BORDER-LEFT: #61a9db 1px solid; WIDTH: 58px; LINE-HEIGHT: 18px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #61a9db 1px solid; HEIGHT: 18px
}
