*{margin: 0; padding: 0;}
p,a, span, div{font-size: 12px; text-decoration: none;}
ul li{list-style: none;}
img{border: none;}
input,button,select,textarea{outline:none}
.red{color: #FA3F48!important;}
.green{color: #5E851B!important}
.ptp{padding-top: 10px;}
.fz14{font-size: 14px!important;}

.body-default{background:#003670 url(../../img/login/body_y.jpg) center 0 repeat-y;}
.body-default #header{background: url(../../img/login/header_bg.jpg) repeat-y center 0;}
.body-default #content{background: url(../../img/login/content_bg_x.jpg) repeat-x;}
.body-default .content_top{background: url(../../img/login/content_top.jpg) center 0 no-repeat;}
.body-default .content_login{background: url(../../img/login/content_login.jpg) center 0 no-repeat;}
.body-default .content_footer{background: url(../../img/login/content_footer.jpg) center 0 no-repeat;}
.body-default .content_line{background: url(../../img/login/content_line.jpg) center 0 no-repeat;}
.body-default .copyright .ft_logo{background: url(../../img/login/footer_logo.jpg) no-repeat;}


.body-default .login .button{background: url(../../img/login/button.jpg) no-repeat 0 -1px;}
.body-default .login .button:hover{background: url(../../img/login/button.jpg) no-repeat 0 -55px;}
.body-default .login .button:active{background: url(../../img/login/button.jpg) no-repeat 0 -109px;}

.login .button_reg{width: 123px; height: 54px; right: 1px; display: block; cursor: pointer;position: absolute; top: -2px;}
.body-default .login .button_reg{background: url(../../img/login/button_reg.jpg) no-repeat 0 -1px;}
.body-default .login .button_reg:hover{background: url(../../img/login/button_reg.jpg) no-repeat 0 -55px;}
.body-default .login .button_reg:active{background: url(../../img/login/button_reg.jpg) no-repeat 0 -109px;}



.body-proxy{background:#206cb7;}
.body-proxy #header{background: url(../../img/proxy/header-x.jpg) repeat-x center 0;}
.body-proxy #header .header{background: url(../../img/proxy/header_bg.jpg) no-repeat center 0; height: 100%;}
.body-proxy #content{height: 412px; background: url(../../img/proxy/content-x.jpg) repeat-x center 0;}
.body-proxy #footer{background: url(../../img/proxy/footer-x.jpg) repeat-x center 0;}
.body-proxy #footer .footer{background: url(../../img/proxy/footer_bg.jpg) no-repeat center 0; height: 100%;}
.body-proxy .content_top{background: url(../../img/proxy/content_top.jpg) center 0 no-repeat; height: 94px;}
.body-proxy .content_login{background: url(../../img/proxy/content_login.jpg) center 0 no-repeat; height: 185px;}
.body-proxy .content_footer{background: url(../../img/proxy/content_footer.jpg) center 0 no-repeat; height: 133px;}
.body-proxy .content_line{display: none;}
.body-proxy .marginauto.loginauto{width: 608px;}
.body-proxy .marginauto.loginauto .login{ width: 452px; float: right;}
.body-proxy .copyright .ft_copy{line-height: 18px; margin-top: 20px;}
.body-proxy .login .button{background: url(../../img/proxy/button.jpg) no-repeat 0 -1px;}
.body-proxy .login .button:hover{background: url(../../img/proxy/button.jpg) no-repeat 0 -55px;}
.body-proxy .login .button:active{background: url(../../img/proxy/button.jpg) no-repeat 0 -109px;}

.body-admin #header{background: url(../../img/admin/header_bg.jpg) repeat-y center 0;}
.body-admin .content_top{background: url(../../img/admin/content_top.jpg) center 0 no-repeat;}
.body-admin .content_login{background: url(../../img/admin/content_login.jpg) center 0 no-repeat;}

.body-supers{background:#fff;}
.body-supers #header{background: url(../../img/supers/header-x.jpg) repeat-x center bottom; height: 120px;}
.body-supers #content{height: 493px; background: url(../../img/supers/content-x.jpg) repeat-x center 0;}
.body-supers #content .contentX{height: 493px; background: url(../../img/supers/content.jpg) no-repeat center 0;}
.body-supers #footer{background: url(../../img/supers/footer-x.jpg) repeat-x center 0; height: 160px;}
.body-supers .copyright .ft_copy{margin-top: 10px;}
.body-supers .copyright p{color: #4d4d4d;}
.body-supers .copyright .ft_logo{background: url(../../img/supers/footer_logo.jpg) no-repeat;}
.body-supers .login{padding-top: 167px;}
.body-supers .login input{color: #555; border: 1px solid #4aacd3; float: left; width: 165px; height: 23px;}
.body-supers .login .group span.txt{display: block; float: left; width: 49px; padding: 0; color: #0066cc;}
.body-supers .login .group{padding-left: 208px; height: 26px;}
.body-supers #captchaImg{margin-left: 10px; _margin-left: 5px; width:70px; height: 27px; margin-top: 0px;}
.body-supers input.submit-btn{width: 87px; height: 31px; background: url(../../img/supers/login-btn.jpg) no-repeat; border: 0; float: left; margin-left: 30px; _margin-left: 15px; margin-right: 14px; margin-top: 7px; cursor: pointer;}
.body-supers input.reset-btn{width: 87px; height: 31px; background: url(../../img/supers/reset-btn.jpg) no-repeat; border: 0; float: left; margin-top: 7px; cursor: pointer;}

.fl{float: left;}
.fr{float: right;}
.hide{display: none;}
.clear{clear: both;}
.relative{position: relative;}
.marginauto{width: 790px; margin: 0 auto;}
.marginauto.loginauto{ width:457px;}
#header{width: 100%; height: 50px;}
#content{width: 100%; height: 370px;}
.content_top{height: 75px;}
.content_login{height: 182px; overflow: hidden;}
.content_footer{height: 110px;}
.content_line{height: 3px; overflow: hidden;}
#footer{width: 100%; height: 193px;}

.login .group{height: 35px; margin-bottom: 4px; padding-top: 5px; padding-left: 234px; position: relative; }
.login .group.button-group{padding-left: 200px; padding-top: 0; height: auto;}
.login input{ width: 190px; height: 25px; background: none; border: none; color: #fff; line-height: 25px; float: left;}
.login input.verfiry{width: 86px;}
.login img.verfiry{ margin-top: -5px; margin-left: 27px;}
.login .group span{display: none; float: left; margin-top: 6px;height: 13px; padding: 0 0 0 16px; }
.login .group span.ok{ background: url(../../img/login/prompt_info.png) no-repeat; }
.login .group span.error{ background: url(../../img/login/prompt_info.png) no-repeat 0 -17px; }
.login .group .prompt{position: absolute; right: -264px; top: 0; color: #A32D2D; line-height: 35px; padding-left: 44px; width: 214px; height: 35px; background: url(../../img/login/prompt_txt.png) no-repeat;white-space: nowrap;}
.login .button{width: 127px; height: 54px; display: block; cursor: pointer;position: absolute; top: -2px;}
.con_info{
	color: #c7deeb;
	position: absolute;
	left: 186px;
	top: 20px;
	width: 100%;
}
.link{ display: block;
    height: 22px;
    padding-left: 254px;
    padding-top: 20px;
	width:600px;}
.link li{float: left; color: #cedfec; font-size: 12px; margin:0 1px 10px 1px; *margin:0px 1px -10px 1px;}
.link li a{color: #cedfec; margin: 0 10px; float: left;}
.copyright{padding: 0 0 0 180px; float: left;}
.copyright .ft_logo{ width: 148px; height: 61px; float: left;}
.copyright .ft_copy{ float: left; margin-top: 15px; margin-left: 15px; _margin-left: 8px; width: 300px;}
.copyright p{color: #cedfec;}

#captchaImg{width:63px; margin-top: 0; margin-left: 27px; float: left; cursor: pointer;}
#captchaImg img{  height: 32px;}

.xubox_page{width: 100%;}
.popup-login{padding-top:20px;position:relative;display:none; background: #fff;}
.popup-login li{display:inline-block;padding-bottom:8px;}
.popup-login li span{display:block;float:left;}
.popup-login li .txt{width:88px;font-size:14px; text-align: right; padding-right: 5px; color:#000;font-family:"微软雅黑";line-height:30px;padding-left:35px;height:28px;}
.popup-login li .input{width:169px;}
.popup-login li .input input{height:30px;line-height:30px;padding-left:5px;width:150px;background:url(../img/popup-input.gif) no-repeat;border:1px solid #c9c9c9;}
.popup-login li .input input:focus{border: 1px solid #4b9fff;}
.popup-login li .input select{width: 158px; height: 30px; line-height: 30px;}
.popup-login li .input input.width{width:70px;margin-right:5px;}
.popup-login .marginbtn{padding-top:5px;}
.popup-login .error{text-align:center;padding:5px;border:1px solid #ecc36c;background:#f5ecbb;display:none;position:absolute;top:-1px;left:285px;border-radius:2px;}
.popup-login .error2{left: 268px;}
.popbtn{display:block;width:107px;height:34px;color:#fff;font-family:"微软雅黑";font-size:14px;line-height:34px;text-align:center;background:url(../../img/popup-btn.gif) no-repeat;overflow:hidden;}
.popbtn.disabled{background-position: right 0;}
.login-email{width: 137px; height: 130px; margin: 20px; float: left; _margin-left:10px; margin-top: 10px; margin-right: 0; margin-bottom: 0; background:url(../../img/email.jpg) no-repeat;}
.email-ok{width: 143px; height: 100px; margin: 10px; float: left; margin-left:0; margin-top: 10px; margin-right: 0; margin-bottom: 0; background:url(../../img/email-ok.jpg) no-repeat;}
.password-icon{width: 121px; height: 122px; margin: 20px; float: left; _margin-left:10px; margin-top: 0px; margin-right: 0; margin-bottom: 0; background:url(../../img/password.png) no-repeat;}
.login-btn{padding: 20px 0 10px 200px; border-top: 1px solid #cfcfcf; }
.email-ok-txt{width: 362px; padding-top: 15px; padding-left: 10px;}
.email-ok-txt h1{font-family: "微软雅黑"; font-size: 24px; color: #174782; line-height: 33px; font-weight: normal;}
.email-ok-txt span.def{color: #e10316; font-size: 24px;}


.reg{ width:998px; margin:auto;}
.reg_top{
	background-image: url(../../img/reg_top.jpg);
	background-repeat: no-repeat;
	height:88px;
}

.reg_md{
	background-image: url(../../img/reg_md.jpg);
	background-repeat: repeat-y;
}
.reg_foot{
	background-image: url(../../img/reg_foot.jpg);
	background-repeat: no-repeat;
	height:81px;
}