@charset "utf-8";
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td,input,select,textarea { margin: 0; padding: 0; }
body{ font-size: 12px; text-decoration: none; font-family:Arial, Helvetica, sans-serif; background:#FFFFFF;}
ul,ol,li {list-style:none;}
input {vertical-align:middle;}
textarea {margin:0px; color:#404040; vertical-align:middle; }
input[type='text'],input[type='password'] { border:1px solid #7F9DB9; height:18px; line-height:18px; padding:1px;}
td {padding:3px; line-height:20px;}
a { color:#69B2F3; text-decoration: none; font-family:Arial, Helvetica, sans-serif; }
a:hover {color:#FF0000; text-decoration:none;}
.button3 {background:url(../images/btn_bg.jpg) repeat-x; width:auto; height:24px; line-height:20px; _line-height:20px; border:1px solid #A1A1A1; text-align:center; cursor:pointer;}
.btn_focus { vertical-align:middle; border:1px solid #FF8800; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#FFB158); CURSOR: pointer; COLOR: black; PADDING-TOP: 2px;}
.topbar {background:url(../images/topbar.gif) repeat-x; color:#ffffff; height:30px; line-height:30px;}
.button { padding:0px 2px; margin:0px; height:22px; line-height:20px; background:url(../images/btn_bg.gif) repeat-x; border:1px solid #2883B2; cursor:pointer; letter-spacing:1px; font-weight:bold; color:#555555; }
#index_top { background:url(../images/top_bg.jpg) repeat-x; height:60px; overflow:hidden; background-color: #000000;}
#index_top #all_count {color:#B1B1B1;}
#index_top input {padding:0px; margin:0px; clear:both; cursor:pointer;}
#news { height: 25px; line-height:25px; overflow:hidden;color: #000000;}
#news li { color: #FFFFBC; text-decoration: none; padding-left:25px;}
#news ul,li{margin:0;padding:0}
#news li{height:25px;padding-left:10px;}
#stock_main {
	background-color: #ffffff;
	border-bottom:1px solid #CCCCCC;
}
.red {color:#ff0000;}
.red_b {color:#ffffff; background:#ff0000;}

.leftmenu {width:155px; height:500px; background:#FCE3E7; border-right:1px solid #CCCCCC; overflow:hidden;}
.leftmenu h5 {display:block; clear:both; height:25px; background:url(../images/menu_h5.gif) no-repeat; line-height:25px; padding-left:45px; margin-top:5px; color:#fff;}
.leftmenu h5 a {color:#720B19; text-decoration:none;}
.leftmenu h5 a:hover {text-decoration:underline;}
.leftmenu h5 span {margin-left:15px;}
.leftmenu h5 span a { font-size:12px; font-weight:normal; color:#DDF1F7; text-decoration:underline; font-family:Arial, Helvetica, sans-serif;}
.leftmenu h5 span a:hover {color:#ffffff; text-decoration:none;}
.leftmenu ul {padding-top:3px;}
.leftmenu ul li {padding:0px; font-size:12px;}
.leftmenu ul li a {height:24px; width:155px; line-height:24px; background:url(../images/menu_normal.gif) no-repeat; display:block; color:#000000; padding-left:50px;}
.leftmenu ul li a:hover { background:url(../images/menu_hover.gif) no-repeat; display:block;}
.user_setup,.user_setup1 {
	background-color: #E6E6E6;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;
	cursor: pointer;
}

.btn{
	border-style : ridge;
	background-color : #EAEAEA;
	border-width : 1px;
	border-top-width : 1px;
	border-left-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	height: 20px;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-left: 4px;
	cursor:pointer;
}
.error {
	left: 10px;
	color: #FF0000;
	background-color: #FFFFCC;
}
#errorTo {
	left: 10px;
	color: #FF0000;
	background-color: #FFFFCC;
	text-indent: 20px;
	font-size: 9pt;
	line-height: -10px;
	text-decoration: blink;
}
.row1_odd {
background-color:#BFE4FF;
height:20px;
color:#0066B3;
}

.row1_even {
background-color:#DEDEFF;
height:20px;
color:#0066B3;
}
#jSuggestContainer { position:absolute; font: 12px Tahoma; border:1px solid #A1A1A1; border-top:0; background:#F0F9FF; padding:5px;}
.jSuggestLoading { font-style:italic; padding: 10px; }
#jSuggestContainer ul, #jSuggestContainer ul li{ margin: 0; padding:0; list-style:none; cursor: pointer;}
.datepicker {width:90px; height:22px; line-height:22px; background:url(../images/datePicker.gif) right center no-repeat; background-color:#ffffff; border:1px solid #7F9DB9;}

.mybox {margin-top:5px; font-size:12px;}
.mybox a {color:#1287E8; text-decoration:underline; font-family:Arial, Helvetica, sans-serif}
.mybox a:hover {color:#ff0000; text-decoration:none;}
.mybox td {padding:3px; line-height:23px; font-size:12px;}
.mybox th {height:24px; line-height:24px; background:url(../images/nav_bg.gif) repeat-x; padding:0px; font-size:14px; color:#ffffff;}
.mybox p {line-height:20px; margin-bottom:14px;}
/*.mybox input {float:left; height:20px; line-height:20px;}*/
.button_small {padding:0px; margin:0px; line-height:20px; height:25px; }
.input_small { height:18px; line-height:18px; padding:0px; border:1px solid #7F9DB9; color:#555555; font-size:12px;}
.mybox .money {color:#ff0000; font-size:18px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; float:left;}
.mybox .money1 {color:#ff0000; font-size:14px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.mybox .tips {width:20px; height:20px; overflow:hidden; display:block; float:left; background:url(../images/ico_question.gif) 2px 3px no-repeat; cursor:pointer; margin-left:10px;}
.mybox .gray {color:gray;}
.mybox .message_data {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;}

#divstockslist .loading{ display:block; height:100px; line-height:100px; text-align:center; width:100%; color:gray; }
#dateList {
	background-color: #9FB2B9;
}
#dateList #title {
	background-color: #C4D6E5;
	height: 20px;
	color: #64645C;
}
#dateList tr {
	background-color: #F6FFF7;
}
#dateList span {
	cursor:pointer;
}
.date_selector, .date_selector * {
  width: auto;
  height: auto;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
.date_selector {
  background: #F2F2F2;
  border: 1px solid #bbb;
  padding: 5px;
  margin: -1px 0 0 0;
  position: absolute;
  z-index: 100000;
  display: none;
}
.date_selector_ieframe {
  position: absolute;
  z-index: 99999;
  display: none;
}
  .date_selector .nav {
    width: 17.5em; /* 7 * 2.5em */
  }
  .date_selector .month_nav, .date_selector .year_nav {
    margin: 0 0 3px 0;
    padding: 0;
    display: block;
    position: relative;
    text-align: center;
  }
  .date_selector .month_nav {
    float: left;
    width: 55%;
  }
  .date_selector .year_nav {
    float: right;
    width: 35%;
    margin-right: -8px; /* Compensates for cell borders */
  }
  .date_selector .month_name, .date_selector .year_name {
    font-weight: bold;
    line-height: 20px;
  }
  .date_selector .button {
    display: block;
    position: absolute;
    top: 0;
    width: 18px;
    height: 18px;
    line-height: 17px;
    font-weight: bold;
    color: #003C78;
    text-align: center;
    font-size: 120%;
    overflow: hidden;
    border: 1px solid #F2F2F2;
  }
    .date_selector .button:hover, .date_selector .button.hover {
      background: none;
      color: #003C78;
      cursor: pointer;
      border-color: #ccc;
    }
  .date_selector .prev {
    left: 0;
  }
  .date_selector .next {
    right: 0;
  }
  .date_selector table {
    border-spacing: 0;
    border-collapse: collapse;
    clear: both;
  }
    .date_selector th, .date_selector td {
      width: 2.5em;
      height: 2em;
      padding: 0;
      text-align: center;
      color: black;
    }
    .date_selector td {
      border: 1px solid #ccc;
      line-height: 2em;
      text-align: center;
      white-space: nowrap;
      color: #003C78;
      background: white;
    }
    .date_selector td.today {
      background: #FFFEB3;
    }
    .date_selector td.unselected_month {
      color: #ccc;
    }
    .date_selector td.selectable_day {
      cursor: pointer;
    }
    .date_selector td.selected {
      background: #D8DFE5;
      font-weight: bold;
    }
    .date_selector td.selectable_day:hover, .date_selector td.selectable_day.hover {
      background: #003C78;
      color: white;
    }
DIV.sabrosus {
PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.sabrosus A {
BORDER-RIGHT: #9aafe5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9aafe5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #9aafe5 1px solid; COLOR: #2e6ab1; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #9aafe5 1px solid; TEXT-DECORATION: none
}   
DIV.sabrosus A:hover {
BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}   
DIV.pagination A:active {
BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
DIV.sabrosus SPAN.current {
BORDER-RIGHT: navy 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: navy 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: navy 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: navy 1px solid; BACKGROUND-COLOR: #2e6ab1
}
DIV.sabrosus SPAN.disabled {
BORDER-RIGHT: #929292 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #929292 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #929292 1px solid; COLOR: #929292; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #929292 1px solid
}

.nodata {background:#FFFFCC; height:50px; line-height:50px; color:gray; font-style:italic;}